<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is a page about Sebi!</h1>
    <h2>First thing about me:</h2>
    <p>Sebi really enjoys <em>sports</em>. He has played sports most of his life and is very competitive.</p>
    <p>Sports he has played:</p>

    <ul>
        <li>Football</li>
        <li>Soccer</li>
        <li>Lacrosse</li>
        <li>Basketball</li>
    </ul>
    <h2>Second thing about me:</h2>
    <p>He also really enjoys <em>business</em>. He started a lemonade stand as a teenager and really enjoyed operating his own stand.</p>
    <p>Locations he sold lemonade:</p>

    <ol>
        <li>Metro Station</li>
        <li>Washington, DC</li>
        <li>College Park, MD</li>
    </ol>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT440</td>
            <td>2</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>1</td>
        </tr>
        <tr>
            <td>BMGT380</td>
            <td>2</td>
        </tr>
    </table>

    <p>
        <a href="/hello">Hello!</a>
    </p>
    <p>A link to my second favorite website: <a href="https://www.youtube.com/">YouTube</a></p>
    <p>A link to my second favorite website: <a href="https://www.wsj.com" target="_blank">Wall Street Journal</a></p>

    ‹p›Here is a picture of the Smith logo.</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-1ogo.png"
    width="267" height="72" alt="Smith Logo"›

</body>
</html>