{% extends "base.html" %}

{% block page_title %}Training{% endblock %}

{% block page_head %}Training{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col">
        <p>
            Welcome to your training for the TerpSys Student Information System.
            Training materials are currently under construction, but will be created very soon.
            Please check back soon or email
            <a href="mailto:stsabath@terpmail.umd.edu">Sebestyen Toszegi-Sabath</a>
            at <a href="mailto:stsabath@terpmail.umd.edu">stsabath@terpmail.umd.edu</a>
            if you wish to be placed on the waiting list.
        </p>
    </div>
</div>
{% endblock %}